/* .navbar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.navbar > ul > li > a{
    
    text-decoration: none;
} */


.navbar {
    
    background-color: lightskyblue;
    width: 100%;
    min-height: 20px;
    height: 4rem;

    padding: 2px;
    
    display: flex;
    position: fixed;
    top:0;
    left:0;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar>ul {
    list-style: none;
    background-color: lightskyblue;
    margin:0;
    padding:0;
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.navbar>ul> li {
    padding: 10px 20px 0px 20px;
    width: 25vw;

    margin: 0;
    transition: background-color .3s ease;
}
.navbar>ul> li:hover {
    background-color: deepskyblue;
}
.navbar a{
    width: 100%;
    text-decoration: none;
    color: white;
}
.navbar a:active{
    text-decoration: none;
    color: blue;
}

/*medium size*/
@media all and (min-width: 481px) and (max-width: 640px) {
    .navbar>ul>li{
        padding:10px;
    }
}

/*small size*/
@media all and (min-width: 320px) and (max-width: 480px) {
    .navbar>ul {
        width: 100vw;
        flex-flow: row nowrap;
    }
    .navbar>ul>li{
        padding:10px;
        width: 100vw;
    }
}